
<h2 class ="text-center mt-4"> Showing details of <%= @article.title%> </h2>
<div class ="container">
    <div class= "row justify-content-md-center">
        <div class= "col-8 mt-4">
            <div class="card text-center shadow  mb-5 bg-white rounded">
                <div class="card-header font-italic">
                    by <%= @article.user.username%>
                    <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= @article.title%></h5>
                    <div class="card-text text-left"><%= simple_format(@article.description)   %></div>
                    <% if logged_in? && (@article.user ==current_user || current_user.admin?) %>
                        <a href="#"><%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %></a>
                        <a href="#"><%= link_to 'Delete', article_path(@article), class: "btn btn-outline-danger"%> </a>
                    <% end %>
                </div>
                <div class="card-footer text-muted">
                    <small> Created <%= time_ago_in_words(@article.created_at) %> ago,
                    edited <%= time_ago_in_words(@article .updated_at) %> ago </small>
                </div>
            </div>
        
                <%= link_to article_likes_path(@article), class: "btn btn-outline-primary",method: :create do%> <%= fa_icon "thumbs-o-up"%> <%end%>
                <%# <% if already_liked?%>
                    <%# <%= link_to article_like_path(@article), class: "btn btn-outline-primary",method: :delete, data: {confirm: "Are you sure to unlike?"} do <%= fa_icon "thumbs-o-up"%> 
                
                <%# <%= link_to article_like_path(@article, pre_like), class: "btn btn-outline-danger", method: :delete do <%= fa_icon "thumbs-o-down"%>
                <p><%= @article.likes.count %> <%= (@article.likes.count) == 1 ? 'Like' : 'Likes'%></p>

            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
